body{
    background-color: #000000;
}
header {
    background-color: #000000;
    padding: 20px 0;
    background-size: cover;
}

.caja{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#logo{
    width: 200px;
    height: 200px;
    margin: 20px;
}
nav{
    position: absolute;
    top:110px;
    right: 40px;
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    color: #c78c19;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #FFFF;
    text-decoration: underline;
}

/* Contenido */
.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
    height: 500px;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 15s infinite alternate; /* alternate va recorriendo de arriba hacia abajo, y al final vuelve de abajo hacia arriba*/
    animation-timing-function: ease-out;
}
.slider li{
    width: 100%;
    list-style: none;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    /* que aparezca la segunda imagen, por que la diferencia del 5% porque será el tiempo que tarda en cambiar */
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    /*Cambiar a la tercera imagen*/
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

 /*Cambiar a la cuarta imagen*/
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}